:root {
    --Primary-Text-Color: #cf6100;
    --Secondary-Text-Color: #313030;
    --Third-Text-Color: #5b5a58;
    --Background-Color: #fdfdfd;
    --footer-background: #f3f2f0;
    --divider-color: #e0e0e0;
    --error-code: #cd0a20;
}

* {
    margin: 0;
    padding: 0;
    font-family: Graphik, sans-serif;
    color: var(--Text-Headings);
    font-size: 1rem;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
body::-webkit-scrollbar {
    display: none;
}

#head-ribbon {
    display: flex;
    height: 6rem;
    padding: 10px;
    background-color: var(--Background-Color);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: 1px solid #E6EAF2;
    color: var(--Primary-Text-Color);
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.1);
}
i {
    color: #fff;
}
.content-wrapper {
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
    flex: 1;
}
.content-wrapper-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.divider {
    height: 80%;
    border: 1px solid var(--divider-color);
}

.content-title {
    width: auto;
    font-size: 3.25rem;
    text-align: center;
    color: var(--Primary-Text-Color);
}

.content-subtext {
    padding: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.2rem;
    margin: 20px 0;
    color: var(--Secondary-Text-Color);
}

#footer-ribbon {
    display: flex;
    justify-content: center;
    background-color: var(--footer-background);
    padding: 7px;
    margin-top: 20px;
    font-size: 0.75rem;
    color: var(--Third-Text-Color);
    width: 100%;
}

.popup-form {
    display: none;
    flex-direction: column;
    border: 5px solid rgb(230, 234, 242);
    border-radius: 10px;
    margin: 20px;
    padding: 25px;
    background-color: #fff;
    color: var(--text-gray);
}
.form-nav-buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.btn {
    background-color: var(--Primary-Text-Color);
    border-color: var(--Primary-Text-Color);
    color: #fff;
    font-size: 1rem;
}
.btn:disabled{
    background-color: var(--Third-Text-Color);
    border-color: var(--Third-Text-Color);
}
.btn:hover {
    border-color: var(--Primary-Text-Color);
    background-color: var(--Background-Color);
    color: var(--Primary-Text-Color);
}
.btn:active {
    background-color: var(--Primary-Text-Color) !important;
    border-color: var(--Primary-Text-Color) !important;
    color: var(--Background-Color) !important;
}
.btn-end {
    background-color: #9e2c2c;
    border-color: #9e2c2c;
}
.btn-end:hover {
    border-color: #6f1d1d;
    background-color: #6f1d1d;
}
.btn-end:active {
    border-color: #6f1d1d !important;
    background-color: #6f1d1d !important;
}
.btn-check:checked + .btn {
    color: #fff;
    background-color: var(--Primary-Text-Color);
    border-color: var(--Primary-Text-Color);
}
.Interview-Type {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.content-buttons {
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
}
.error-message{
    font-size: 0.9rem;
    color: var(--error-code);
}
.RadioBtn{
    background-color: var(--divider-color);
    border-color: var(--divider-color);
    color: var(--Primary-Text-Color);
}
.technicalChoice{
    display: none;
}

/* Responsive UI */
@media only screen and (max-width: 768px) {
    /* Your CSS styles for iPhone SE go here */
    *{
        font-size: 0.9rem;
    }
    .content-wrapper {
        flex-direction: column;
        padding-top: 20px;
    }
    .content-wrapper-section {
        flex: 0;
    }
    .content-title {
        font-size: 2rem; /* Adjust as needed for smaller screens */
    }
    .divider {
        height: 1px;
        width: 80%;
        border: none;
        border-top: 1px solid var(--divider-color);
    }
    .content-subtext {
        font-size: 1rem; /* Adjust as needed for smaller screens */
    }
    #head-ribbon {
        font-size: 1.5em; /* Adjust as needed for smaller screens */
    }
    #footer-ribbon {
        font-size: 0.6em; /* Adjust as needed for smaller screens */
    }
    .btn {
        font-size: 0.9rem; /* Adjust as needed for smaller screens */
    }
    #optionResume{
        font-size: 1em;
    }
    #floatingTextarea2{
        font-size: 1em;
    }
}
/* UI above mobile screen */
@media only screen and (min-width: 769px) {
    .divider {
        margin: 0 20px;
    }
}

/* Author: Mohammed Aamir Mansoori */